<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
</head>
<body>
    <h1>Unskilled Labourors !</h1>
    <h2><%=unskilled.name %></h2>
    <h2><%= unskilled.lastName %></h2>
    <h2><%= unskilled.location %></h2>
    <h2><%= unskilled.description %></h2>

</body>
</html>
