<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Unskilled Login</title>
</head>
<body>
    <h1>Unskilled Login</h1>
    <form action="/newUnskilled" method="POST">
        <div>
            <label for="first">First Name</label>
            <input type="text" name="unskilled[name]" id="first">
        </div>
        <div>
            <label for="last">Last Name</label>
            <input type="text" name="unskilled[lastname]" id="last">
        </div>
        <div>
            <label for="contact">Location</label>
            <input type="text" name="unskilled[contact]" id="contactn">
        </div>
        <div>
            <label for="skill">Description</label>
            <input type="text" name="unskilled[skill]" id="skill">
        </div>
        <button>Submit</button>
    </form>
</body>
</html>
