.post{
    max-width: 80%;
    /* border: 1px solid black; */
    background-color: white !important;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: black;
}

.detailsBox{
    text-align: left;
}
.detailsBox p{
    padding:  1px 10px;
    font-size: 1.5em;
}

#moredetails .viewless{
    color: blue;
}

.dropdown{
    margin: 10px 0;
}