.aboutPage{
    width: 100%;
    height: 100%;
    background-color: #857EDB;
}
.aboutHeading{
    text-align: center;
    padding-top: 50px;
}
.row{
    padding-top: 30px;
}
.contactUs{
    padding-bottom: 3rem;
}
