.aboutPage{
    width: 100%;
    height: 100%;
    
    color:#fff;
}
.aboutWrapper{
    background-color: #4c5057;
}
.aboutHeading{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #1a2266;
}
.row{
    padding-top: 30px;
}
.contactUs{
    padding-bottom: 3rem;
}

/* .aboutPage .aboutHeading{
    background-color: #1a2266;
} */