
.loginPage{
    width: 100vw;
    height: 100%;
    background-color: #4c5057;

}
.loginPage .headText{
    color: #fff;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1rem;
    padding-top: 2rem;
}
.loginPageWrapper{
    max-width: 80vw;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding-top: 100px;
    
}

.form-control input{
    
    margin: 20px 0;
    border: 0;
    border-radius: 10px;
    padding: 10px 40px;
    
}

.form button{
    align-items: center;
    padding: 10px 40px;
    border-radius: 10px;
    margin: 20px 0;
    border: 0;
}
.pwd{
    margin-top: 2rem;
}
.forgotPWD{
    text-align: right;
}
.loginPage .form .btn{
    background-color: #1a2266;
    font-size: large;
    color: #fff;
    width: 100%;
    
}

.signUp{
    color:#fff;
}

.sampleuser{
    padding-top: 5rem;
    color: white;
    width:15rem;
    padding-bottom: 5rem;
}
.sampleuser button{
    background-color: none !important;
    margin: 1rem;
}
