<body>
    <h1>Skilled Login</h1>
    <form action="/newSkilledWorker" method="POST">
        <div>
            <label for="first">First Name</label>
            <input type="text" name="skilled[name]" id="first">
        </div>
        <div>
            <label for="last">Last Name</label>
            <input type="text" name="skilled[lastName]" id="last">
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" name="skilled[location]" id="location">
        </div>
        <div>
            <label for="skill">Skill</label>
            <input type="text" name="skilled[skill]" id="skill">
        </div>
        <div>
            <label for="contact">Contact</label>
            <input type="text" name="skilled[contact]" id="contact">
        </div>
        <button>Submit</button>
    </form>
</body>
</html>